<%- include header.ejs %>
<% posts.forEach(function (post, index) { %>
<h2><a href="#"><%= post.title %> </a></h2>
<p class="info">
    作者:<%= post.content %><br>
    时间:<%= post.time.minute %>
</p>
<p><%= post.content %></p>
<% }) %>
<%- include footer.ejs %>